@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    string _Header = "";
    string CategoryType = "1";
    string title = "";
    string url = "";
    string img = "";
    string Description = "";
    News news = new News();
    if (ViewBag.New != null)
    {
        news = ViewBag.New;
        CategoryType = news.CategoryType;

        if (news.Title != null && news.Title != "")
        {
            title = news.Title;
         
        }
        url = "https://finart.vn/chi-tiet-bao-cao/" + news.Id;



        if (news.Description != null && news.Description != "")
        {
            Description = news.Description;
        }


        if (news.FeatureImage != null && news.FeatureImage != "")
        {
            img = news.FeatureImage;
        }
        else
        {
            img = "https://finart.vn/assets/img/logo1.jpg";
        }

        if (CategoryType == "6")
        {
            _Header = "Báo cáo ngành";
        }
        else if (CategoryType == "10")
        {
            _Header = "Báo cáo doanh nghiệp khuyến nghị";
        }
        else
        {
            _Header = news.CategoryName;
        }
    }
    ViewBag.Title = news.CategoryName;

    List<News> listLienQuan = DataMemory.c_lstNew.Where(x => x.Id != news.Id && x.CategoryType == news.CategoryType).OrderByDescending(i => i.Id).Take(4).ToList();

}

@section Head {

        <meta name="description" content="@Description" />




        <!-- Tiêu đề hiển thị -->
        <meta property="og:title" content="@title">

        <!-- Mô tả ngắn gọn -->
        <meta property="og:description" content="@Description">

        <!-- Ảnh đại diện khi chia sẻ -->



    @{
        string imageUrl = img;

        if (!string.IsNullOrEmpty(news.FeatureImage))
        {
            imageUrl = img; // img là biến chứa URL ảnh đã xử lý trước
        }
        else
        {
            // Dùng Regex để lấy ảnh đầu tiên từ nội dung bài viết
            var match = System.Text.RegularExpressions.Regex.Match(news.Content ?? "", "<img[^>]+src=[\"']([^\"']+)[\"']", System.Text.RegularExpressions.RegexOptions.IgnoreCase);
            if (match.Success)
            {
                imageUrl = match.Groups[1].Value;
            }
        }
    }

    @if (!string.IsNullOrEmpty(imageUrl))
    {
                    <meta property="og:image" content="@imageUrl" />
    }





        <!-- Link chính -->
        <meta property="og:url" content="@url">

        <!-- Xác định loại nội dung -->
        <meta property="og:type" content="article">

        <!-- (Tùy chọn) Cho Twitter -->
        <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="@title">
        <meta name="twitter:description" content="@Description">

    @if (news.FeatureImage != null && news.FeatureImage != "")
    {
                <meta name="twitter:image" content="@img">
    }


}




<div class="area-page-title">
    <div class="container">
        <h1 class="animate a_01">@_Header</h1>
        <ol class="breadcrumb animate a_02">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>

            @if (CategoryType == "10" || CategoryType == "6")
            {
                                        <li class="breadcrumb-item">
                                            <a href="/danh-sach-bao-cao-nganh">Báo cáo FinArt</a>
                                        </li>
            }

            @if (CategoryType == "10")
            {
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="/danh-sach-bao-cao-doanh-nghiep" style="color:#fff !important">@_Header</a>
                                        </li>
            }
            else if (CategoryType == "6")
            {
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="/danh-sach-bao-cao-nganh" style="color:#fff !important">@_Header</a>
                                        </li>
            }
            else if (CategoryType == "7")
            {
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="/danh-sach-bao-cao-ctck" style="color:#fff !important">@_Header</a>
                                        </li>
            }
            else if (CategoryType == "8")
            {
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="/danh-sach-bao-cao-vimo" style="color:#fff !important">@_Header</a>
                                        </li>
            }

        </ol>
    </div>
</div>

<style>

</style>

<div class="area-content-page">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-12 order-a mx-auto">
                <article class="detail-post">

                    @if (news.Title != null && news.Title != "")
                    {
                                                <h1>@(news.Title ?? "")</h1>
                    }
                    @if (!string.IsNullOrEmpty(news.CreateDate))
                    {
                                                <time>@news.CreateDate</time>
                    }

                    @*    <div class="excerpt">
                        @if (!string.IsNullOrEmpty(news.Symbol))
                        {
                            <span class="badge badge-update">@news.Symbol</span>
                        }
                        @if (!string.IsNullOrEmpty(news.Tag))
                        {
                            <p>
                                <time>@news.Tag</time>
                            </p>
                        }
                    </div> *@

                    @if (!string.IsNullOrEmpty(news.Description))
                    {
                                                <div class="description">
                            @news.Description
                                                </div>
                    }
                    @if (!string.IsNullOrEmpty(news.Content))
                    {
                                                <div class="description">
                            @Html.Raw(news.Content)
                                                </div>
                    }

                    @if (!string.IsNullOrEmpty(news.Link))
                    {
                                                <iframe src="@(news.Link + "#navpanes=0")"
                                                        width="100%"
                                                        height="600px"
                                                        style="border: none;">
                                                </iframe>
                    }

                </article>
            </div>
        </div>
    </div>
</div>



