@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    News news = new News();
    if (ViewBag.New != null)
    {
        news = ViewBag.New;
    }
    ViewBag.Title = news.CategoryName;

    List<News> listLienQuan = DataMemory.c_lstNew.Where(x => x.Id != news.Id && x.CategoryType == news.CategoryType).OrderByDescending(i => i.Id).Take(4).ToList();

}



<div class="area-page-title">
    <div class="container">
        <h1 class="animate a_01">@news.CategoryName</h1>
        <ol class="breadcrumb animate a_02">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@news.CategoryName</li>
        </ol>
    </div>
</div>



<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">


            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                <div id="noidung">
                    @if (news.Title != null && news.Title != "")
                    {
                        <h3 class="titleDetail">@(news.Title ?? "")</h3>
                    }

                    <div class="dateTime" style="    font-size: 13px; text-align: right; font-style: italic;">
                        @news.CreateDate
                    </div>
                    @if (news.Description != null && news.Description != "")
                    {
                        <div id="des_detail">
                            @(news.Description ?? "")
                        </div>
                    }
                    

                    @if (news.Content != null && news.Content != "")
                    {
                        <div>@Html.Raw(news.Content)</div>
                    }

                    @if (news.Link != null && news.Link != "")
                    {
                        <iframe src="@news.Link"
                                width="100%"
                                height="600px"
                                style="border: none;">
                        </iframe>
                    }


                </div>




                <div class="analysis-card" style="border:none; box-shadow: none">

                    @if (listLienQuan.Count > 0)
                    {
                        <div class="tinlienquan  d-flex justify-content-between align-items-center">
                            <h3>Báo cáo liên quan</h3>
                            <a href="/danh-sach-bao-cao-art/@news.CategoryType" class="viewmore Orcolor">xem thêm >></a>
                        </div>
                        @foreach (var item in listLienQuan)
                        {
                            <div class="item_news">



                                <div class="featureimage">
                                    @if (item.FeatureImage != null && item.FeatureImage != "")
                                    {
                                        <img src="@item.FeatureImage" />
                                    }
                                    else
                                    {

                                        <img src="~/assets/img/bg_03.jpg" />
                                    }
                                </div>
                                <div class="newtomtat">
                                    @if (item.Symbol == null || item.Symbol == "")
                                    {
                                    }
                                    else
                                    {
                                        <span class="badge badge-update">@item.Symbol.ToUpper()</span>
                                    }
                                    <span class="date_new">@item.CreateDate</span>
                                    <p class="title_news">
                                        <a href="/chi-tiet-bao-cao/@item.Id" target="_blank">@item.Title ?? ""</a>
                                    </p>
                                  

                                    @if (item.Tag == null || item.Tag == "")
                                    {
                                    }
                                    else
                                    {
                                        <div class="analysis-source onerow">Nguồn: @item.Tag</div>
                                    }

                                    @if (item.Suggestion == null || item.Suggestion == "")
                                    {
                                    }
                                    else
                                    {
                                        <div class="analysis-source onerow" style="color: #ff2222; font-weight: bold">@item.Suggestion</div>
                                    }


                                </div>

                            </div>
                        }

                    }
                    <!-- Tin 1 -->



                </div>


            </div>

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

                @Html.Partial("NewsOtherTabReport", @news.CategoryType)

            </div>





        </div>

    </div>

</section><!-- /Service Details Section -->
