@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";

    News news = new News();
    if (ViewBag.New != null)
    {
        news = ViewBag.New;
    }
    ViewBag.Title = news.CategoryName;

    List<News> listLienQuan = DataMemory.c_lstNew.Where(x => x.Id != news.Id).OrderByDescending(i => i.Special).ThenByDescending(i => i.Id).Take(4).ToList();

}

<!-- Page Title -->
<div class="page-title accent-background">
    <div class="container position-relative">
        <h1>@news.CategoryName</h1>

    </div>
</div><!-- End Page Title -->
<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">


            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">


                <h3>@news.Title</h3>
                <div class="dateTime" style="    font-size: 13px; text-align: right; font-style: italic;">
                    @news.CreateDate
                </div>
                <div>@Html.Raw(news.Content)</div>


                <div style="margin-top: 100px ; border-bottom: 1px solid #4b99bb">
                    <div class="analysis-header d-flex justify-content-between align-items-center" style="border:none; background: none; padding-left: 0px;">
                        <h5 class="mb-0">BÁO CÁO LIÊN QUAN</h5>
                        <a href="#" class="viewmore">xem thêm >></a>
                    </div>
                </div>

                <div class="analysis-card" style="border:none; box-shadow: none">


                    <!-- Tin 1 -->
                    @foreach (var item in listLienQuan)
                    {
                        <div class="analysis-item" style="border:none; padding-left: 0px;">
                            <div class="analysis-meta" style="display: inline;">
                                <div class="analysis-title">@item.Title</div>

                                <span class="date">@item.CreateDate</span>
                            </div>

                        </div>
                    }



                </div>

            </div>

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="" style="margin-bottom: 30px;">

                    <div class="analysis-card">
                        <div class="analysis-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Báo cáo Fin Art</h5>
                            @if (news.CategoryType == "1")
                            {
                                <a href="/danh-sach-bao-cao-art" class="viewmore">xem thêm >></a>
                            }
                            else if (news.CategoryType == "3")
                            {
                                <a href="/danh-sach-bao-cao-art" class="viewmore">xem thêm >></a>
                            }
                            else
                            {
                                <a href="/danh-sach-bao-cao-art" class="viewmore">xem thêm >></a>
                            }

                        </div>

                        <!-- Tin 1 -->
                        <div class="analysis-item">
                            <div class="analysis-meta">
                                <span class="badge badge-update">CẬP NHẬT</span>
                                <span class="date">20/06/2025</span>
                            </div>
                            <div class="analysis-title">MWG – TĂNG TỐC SAU GIAI ĐOẠN TÁI CẤU TRÚC</div>
                            <div class="analysis-source">Nguồn: VCBS</div>
                        </div>

                        <!-- Tin 2 -->
                        <div class="analysis-item">
                            <div class="analysis-meta">
                                <span class="badge badge-analysis">PHÂN TÍCH</span>
                                <span class="date">16/06/2025</span>
                            </div>
                            <div class="analysis-title">VCB – Nội lực vững vàng, định giá hấp dẫn</div>
                            <div class="analysis-source">Nguồn: FPTS</div>
                        </div>
                    </div>


                </div>

                <div class="" style="margin-bottom: 30px;">

                    <div class="analysis-card">
                        <div class="analysis-header">
                            <h5>Báo cáo công ty Chứng khoán</h5>
                        </div>

                        <!-- Tin 1 -->
                        <div class="analysis-item">
                            <div class="analysis-meta">
                                <span class="badge badge-update">CẬP NHẬT</span>
                                <span class="date">20/06/2025</span>
                            </div>
                            <div class="analysis-title">MWG – TĂNG TỐC SAU GIAI ĐOẠN TÁI CẤU TRÚC</div>
                            <div class="analysis-source">Nguồn: VCBS</div>
                        </div>

                        <!-- Tin 2 -->
                        <div class="analysis-item">
                            <div class="analysis-meta">
                                <span class="badge badge-analysis">PHÂN TÍCH</span>
                                <span class="date">16/06/2025</span>
                            </div>
                            <div class="analysis-title">VCB – Nội lực vững vàng, định giá hấp dẫn</div>
                            <div class="analysis-source">Nguồn: FPTS</div>
                        </div>
                    </div>


                </div>


              

            </div>





        </div>

    </div>

</section><!-- /Service Details Section -->
