@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    News news = new News();
    if (ViewBag.New != null)
    {
        news = ViewBag.New;
    }
    ViewBag.Title = news.CategoryName;
    List<News> listLienQuan = DataMemory.c_lstNew.Where(x => x.Id != news.Id && x.CategoryType == news.CategoryType).OrderByDescending(i => i.Id).Take(5).ToList();

}



<div class="area-page-title">
    <div class="container">
        <h1 class="animate a_01">@news.CategoryName</h1>
        <ol class="breadcrumb animate a_02">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@news.CategoryName</li>
        </ol>
    </div>
</div>


<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">


            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                <div id="noidung">
                    <h3 class="titleDetail">@(news.Title ?? "")</h3>
                    <div class="dateTime" style="">
                        @news.CreateDate
                    </div>
                    <div id="des_detail">
                         @Html.Raw(news.Description ?? "")   
                    </div>
                    <div>@Html.Raw(news.Content ?? "")</div>

                </div>
               

                <div class="analysis-card" style="border:none; box-shadow: none">

                    @if(listLienQuan.Count > 0)
                    {
                        <div class="tinlienquan  d-flex justify-content-between align-items-center">
                            @if (news.CategoryType == "5")
                            {
                                <h3>Câu hỏi khác</h3>
                            }
                            else
                            {
                                <h3>Tin liên quan</h3>
                            }
                           
                            <a href="/danh-sach-tin/@news.CategoryType" class="viewmore Orcolor">xem thêm >></a>
                        </div>
                        @foreach (var item in listLienQuan)
                        {


                            <div class="item_news">



                                <div class="featureimage">
                                    @if (item.FeatureImage != null && item.FeatureImage != "")
                                    {
                                        <img src="@item.FeatureImage" />
                                    }
                                    else
                                    {

                                        <img src="~/assets/img/bg_03.jpg" />
                                    }
                                </div>
                                <div class="newtomtat">
                                    <p class="title_news">
                                        <a href="/chi-tiet/@item.Id" target="_blank">@item.Title ?? ""</a>
                                    </p>
                                    @if (item.Description != null && item.Description != "")
                                    {
                                        <P class="Description_list">
                                            @item.Description
                                        </P>
                                    }

                                    <p class="date_new" style="">
                                        @item.CreateDate
                                    </p>
                                </div>

                            </div>
                        }

                    }
                    <!-- Tin 1 -->
                    


                </div>

            </div>

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                @Html.Partial("NewsOtherTab", news.CategoryType)
            </div>





        </div>

    </div>

</section><!-- /Service Details Section -->
