@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    string _Header = "";
    string CategoryType = "1";
    string title = "";
    string _title = "";
    string url = "";
    string img = "";
    string Description = "";

    News news = new News();
    if (ViewBag.New != null)
    {
        news = ViewBag.New;
        if (news.Title != null && news.Title != "")
        {
            title = news.Title;

        }
        url = "https://finart.vn/chi-tiet/" + news.Id;

        if (news.Description != null && news.Description != "")
        {
            Description = news.Description;
        }

        if (news.FeatureImage != null && news.FeatureImage != "")
        {
            img = news.FeatureImage;
        }
        else
        {
            img = "https://finart.vn/assets/img/logo1.jpg";
        }

    }




    ViewBag.Title = news.CategoryName;
    List<News> listLienQuan = DataMemory.c_lstNew.Where(x => x.Id != news.Id && x.CategoryType == news.CategoryType).OrderByDescending(i => i.Id).Take(5).ToList();

}



@section Head {

    <meta name="description" content="@Description" />




    <!-- Tiêu đề hiển thị -->
    <meta property="og:title" content="@title">

    <!-- Mô tả ngắn gọn -->
    <meta property="og:description" content="@Description">

    <!-- Ảnh đại diện khi chia sẻ -->
    @{
        string imageUrl = img;

        if (!string.IsNullOrEmpty(news.FeatureImage))
        {
            imageUrl = img; // img là biến chứa URL ảnh đã xử lý trước
        }
        else
        {
            // Dùng Regex để lấy ảnh đầu tiên từ nội dung bài viết
            var match = System.Text.RegularExpressions.Regex.Match(news.Content ?? "", "<img[^>]+src=[\"']([^\"']+)[\"']", System.Text.RegularExpressions.RegexOptions.IgnoreCase);
            if (match.Success)
            {
                imageUrl = match.Groups[1].Value;
            }
        }
    }

    @if (!string.IsNullOrEmpty(imageUrl))
    {
        <meta property="og:image" content="@imageUrl" />
    }





    <!-- Link chính -->
    <meta property="og:url" content="@url">

    <!-- Xác định loại nội dung -->
    <meta property="og:type" content="article">

    <!-- (Tùy chọn) Cho Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@_title">
    <meta name="twitter:description" content="@Description">

    @if (news.FeatureImage != null && news.FeatureImage != "")
    {
        <meta name="twitter:image" content="@img">
    }


}




<div class="area-page-title">
    <div class="container">
        <h1 class="animate a_01">@news.CategoryName</h1>
        <ol class="breadcrumb animate a_02">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@news.CategoryName</li>
        </ol>
    </div>
</div>


<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-4">


            <div class="col-lg-8" >

                <div id="noidung">
                    <h3 class="titleDetail">@(news.Title ?? "")</h3>
                    <div class="dateTime" style="">
                        @news.CreateDate
                    </div>
                    <div id="des_detail">
                        @Html.Raw(news.Description ?? "")   
                    </div>
                    <div>@Html.Raw(news.Content ?? "")</div>

                </div>


                <div class="analysis-card" style="border:none; box-shadow: none">

                    @if(listLienQuan.Count > 0)
                    {
                        <div class="tinlienquan  d-flex justify-content-between align-items-center">
                            @if (news.CategoryType == "5")
                            {
                                <h3>Câu hỏi khác</h3>
                            }
                            else
                            {
                                <h3>Tin liên quan</h3>
                            }

                            @if (news.CategoryType == "1")
                            {
                                <a href="/danh-sach-tin-tuc-chung-khoan" class="viewmore Orcolor">xem thêm >></a>


                            }
                            else if (news.CategoryType == "2")
                            {
                                <a href="/xu-huong-thi-truong" class="viewmore Orcolor">xem thêm >></a>


                            }
                            else if (news.CategoryType == "3")
                            {
                                <a href="/xu-huong-nganh" class="viewmore Orcolor">xem thêm >></a>


                            }
                            else if (news.CategoryType == "4")
                            {
                                <a href="/co-phieu-dan-dat" class="viewmore Orcolor">xem thêm >></a>


                            }

                          

                        </div>
                        @foreach (var item in listLienQuan)
                        {


                            <div class="item_news">



                                <div class="featureimage">
                                    @if (item.FeatureImage != null && item.FeatureImage != "")
                                    {
                                        <img src="@item.FeatureImage" />
                                    }
                                    else
                                    {

                                        <img src="~/assets/img/bg_03.jpg" />
                                    }
                                </div>
                                <div class="newtomtat">
                                    <p class="title_news">
                                        <a href="/chi-tiet/@item.Id" target="_blank">@(item.Title ?? "")</a>
                                    </p>
                                    @if (item.Description != null && item.Description != "")
                                    {
                                        <P class="Description_list">
                                            @item.Description
                                        </P>
                                    }

                                    <p class="date_new" style="">
                                        @item.CreateDate
                                    </p>
                                </div>

                            </div>
                        }

                    }
                    <!-- Tin 1 -->
                    


                </div>

            </div>

            <div class="col-lg-4">
                 @Html.Partial("NewsOtherTab", news.CategoryType) 
                @* @Html.Partial("ChiSo.cshtml") *@
            </div>





        </div>

    </div>

</section><!-- /Service Details Section -->
