@using WebForm.Common;
@using System.Data;
@using System.Diagnostics;
@using Microsoft.AspNetCore.Mvc;
@using WebForm.Helpers;
@using WebForm.Models;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    string _Header = "";
    string CategoryType = "1";
    News news = new News();
    if (ViewBag.New != null)
    {
        news = ViewBag.New;
        CategoryType = news.CategoryType;




        if (CategoryType == "6")
        {
            _Header = "Báo cáo ngành";
        }
        else if (CategoryType == "10")
        {
            _Header = "Báo cáo doanh nghiệp khuyến nghị";
        }
        else
        {
            _Header = news.CategoryName;
        }
    }
    ViewBag.Title = news.CategoryName;

    List<News> listLienQuan = DataMemory.c_lstNew.Where(x => x.Id != news.Id && x.CategoryType == news.CategoryType).OrderByDescending(i => i.Id).Take(4).ToList();

}



<div class="area-page-title">
    <div class="container">
        <h1 class="animate a_01">@_Header</h1>
        <ol class="breadcrumb animate a_02">
            <li class="breadcrumb-item">
                <a href="/">Trang chủ</a>
            </li>

            @if (CategoryType == "10" || CategoryType == "6")
            {
                <li class="breadcrumb-item">
                    <a href="/danh-sach-bao-cao-nganh">Báo cáo FinArt</a>
                </li>
            }

            @if (CategoryType == "10")
            {
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="/danh-sach-bao-cao-doanh-nghiep" style="color:#fff !important">@_Header</a>
                </li>
            }
            else if (CategoryType == "6")
            {
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="/danh-sach-bao-cao-nganh" style="color:#fff !important">@_Header</a>
                </li>
            }
            else if (CategoryType == "7")
            {
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="/danh-sach-bao-cao-ctck" style="color:#fff !important">@_Header</a>
                </li>
            }
            else if (CategoryType == "8")
            {
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="/danh-sach-bao-cao-vimo" style="color:#fff !important">@_Header</a>
                </li>
            }

        </ol>
    </div>
</div>



<div class="area-content-page">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-12 order-a mx-auto">
                <article class="detail-post">

                    @if (news.Title != null && news.Title != "")
                    {
                        <h1>@(news.Title ?? "")</h1>
                    }
                    @if (!string.IsNullOrEmpty(news.CreateDate))
                    {
                        <time>@news.CreateDate</time>
                    }

                    @*    <div class="excerpt">
                        @if (!string.IsNullOrEmpty(news.Symbol))
                        {
                            <span class="badge badge-update">@news.Symbol</span>
                        }
                        @if (!string.IsNullOrEmpty(news.Tag))
                        {
                            <p>
                                <time>@news.Tag</time>
                            </p>
                        }
                    </div> *@

                    @if (!string.IsNullOrEmpty(news.Description))
                    {
                        <div class="description">
                            @news.Description
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(news.Content))
                    {
                        <div class="description">
                            @Html.Raw(news.Content)
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(news.Link))
                    {
                        <iframe src="@(news.Link + "#navpanes=0")"
                                width="100%"
                                height="600px"
                                style="border: none;">
                        </iframe>
                    }

                </article>
            </div>
        </div>
    </div>
</div>



