@using Common
@model WebForm.Models.ListSymbol


<style>
    .table-container {
        width: 100%; /* full màn hình */
        max-height: 400px; /* giới hạn chiều cao để test scroll dọc */
        overflow: auto;
        border: 1px solid #ccc;
    }

    table {
        border-collapse: collapse;
        width: 1800px; /* bảng rộng hơn container để test scroll ngang */
    }

    th, td {
        padding: 8px 12px;
        border: 1px solid #ddd;
        background: white; /* che phần trượt */
    }

    /* Header cố định trên cùng */
    thead th {
        position: sticky;
        top: 0;
        background: #eee;
        z-index: 4;
    }

    /* Cột 1 */
    .sticky-col-1 {
        position: sticky;
        left: 0;
        z-index: 999;
        background: #f9f9f9;
    }

    /* Cột 2 */
    .sticky-col-2 {
        position: sticky;
        left: 150px; /* bằng độ rộng cột 1 */
        z-index: 999;
        background: #f1f1f1;
    }

    /* Cột cuối cùng */
    .sticky-col-last {
        position: sticky;
        right: 0;
        z-index: 999;
        background: #f3f3f3;
    }
</style>








<div class="table-responsive" style="max-height: 500px; overflow: auto;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="sticky-col-1" style="min-width: 50px ;width:50px; text-align: center">STT</th>
                <th class="sticky-col-2" style="text-align: center">Mã cổ phiếu</th>
                <th style="text-align: center">Tên cổ phiếu</th>
                <th style="text-align: center">Tên doanh nghiệp</th>
                <th style="text-align: center">Trạng thái</th>
                <th style="text-align: center">Ngày mở vị thế</th>
                <th style="text-align: center">Ngày đóng vị thế</th>
                <th style="text-align: center">Vùng mua dự kiến</th>
                <th style="text-align: center">Giá mục tiêu </th>
                <th style="text-align: center">Giá đóng vị thế </th>
                <th style="text-align: center">Giá dừng lỗ </th>
                <th style="text-align: center">Earning Trung bình 4 quý gần nhất</th>
                <th style="text-align: center">Tăng trưởng Lợi nhuận </th>
                <th style="text-align: center">Giá mua </th>
                <th style="text-align: center">Giá bán </th>
                <th style="text-align: center">Khuyến nghị </th>
                <th style="text-align: center">Ghi chú </th>
                <th class="sticky-col-last" style="width:150px; text-align: center">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collection)
            {
                <tr>
                    <td class="sticky-col-1" style="min-width: 50px;">@Model.Start</td>
                    <td class="sticky-col-2">@item.Symbol</td>
                    <td>@item.Name</td>
                    <td>@item.Issue</td>
                    <td>@item.Status_Text</td>
                    <td>@item.Open_Position_Date</td>
                    <td>@item.Close_Position_Date</td>
                    <td>@item.F_PRICE_Exp.ToNumberStringN10() - @item.T_PRICE_Exp.ToNumberStringN10()</td>
                    <td>@item.F_PRICE_Target.ToNumberStringN10()</td>
                    <td>@item.T_PRICE_Target.ToNumberStringN10()</td>
                    <td>@item.T_Pause.ToNumberStringN10()</td>
                    <td>@item.DoanhThu.ToNumberStringN10() (%)</td>
                    <td>@item.LoiNhuan.ToNumberStringN10() (%)</td>
                    <td>@item.Price.ToNumberStringN10() (%)</td>
                    <td>@item.Sell_Price.ToNumberStringN10() (%)</td>
                    <td>@item.Note</td>
                    <td>@item.Ghichu</td>
                    <td class="sticky-col-last">
                        <a href="@("/Symbol/Edit/" + item.Id)" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span> Sửa
                        </a>
                        <a href="#" class="btn btn-danger" onclick="deleteNews('@item.Id')">
                            <span class="glyphicon glyphicon-trash"></span> Xóa
                        </a>
                    </td>
                </tr>
                Model.Start++;
            }
        </tbody>
    </table>
</div>

<style>
    th, td {
        background: #fff; /* để che text khi scroll */
        min-width: 150px;
    }

    thead th {
        position: sticky;
        top: 0;
        background: #eee;
        z-index: 5;
    }

    /* Cột 1 */
    .sticky-col-1 {
        position: sticky;
        left: 0;
        z-index: 999;
        background: #f9f9f9;
    }

    /* Cột 2 */
    .sticky-col-2 {
        position: sticky;
        left: 50px; /* bằng width của cột 1 */
        z-index: 999;
        background: #f1f1f1;
    }

    /* Cột cuối */
    .sticky-col-last {
        position: sticky;
        right: 0;
        z-index: 999;
        background: #f3f3f3;
    }
</style>




















@Html.Raw(Model.Paging)
<input type="hidden" id="txtTotalPage" value="@Model.TotalPage" />

<input type="hidden" id="txtCurrentPage" value="@Model.CurrentPage" />
