@model WebForm.Models.Symbol_Notify_Info
@using WebForm.Models
@using WebForm.Common
@using Common
@{
    ViewBag.Title = "Sửa bài viết";
    Layout = "_Layout_Admin";

    List<Allcode_Info> status = DataMemory.GetAllcodeByName("SYMBOL", "STATUS");


}
<style>
    .displaynone {
        display: none;
    }
</style>


<input type="hidden" id="txtId" value="@Model.Id" />
<div class="container-fluid">



    <div class="form-group row" id="f_txtSymbol">
        <label for="txtTitle" class="col-sm-2 col-form-label">Mã cổ phiếu</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtSymbol" maxlength="100" value="@Model.Symbol"/>
        </div>
    </div>


    <div class="form-group row" id="f_txtSymbolName">
        <label for="txtTitle" class="col-sm-2 col-form-label">Tên cổ phiếu</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtSymbolName" maxlength="1000" value="@Model.Name" />
        </div>
    </div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Tên Doanh nghiệp</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtIssue" maxlength="1000" value="@Model.Issue" />
        </div>
    </div>

    <div class="form-group row">
        <label for="txtType" class="col-sm-2 col-form-label">Trạng thái</label>
        <div class="col-sm-10">
            <select class="form-control" id="txtStatus">
                @foreach (var item in status)
                {
                    if (item.CdValue == Model.Status)
                    {
                        <option value="@item.CdValue" selected>@item.CdContent</option>
                    }
                    else
                    {
                        <option value="@item.CdValue">@item.CdContent</option>
                    }
                   
                }
            </select>
        </div>
    </div>


    <div class="form-group row" id="f_txtIssue" >
        <label for="txtTitle" class="col-sm-2 col-form-label">Vùng mua dự kiến (từ)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtF_PRICE_Exp" maxlength="1000" value="@Model.F_PRICE_Exp.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Vùng mua dự kiến (đến)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtT_PRICE_Exp" maxlength="1000" value="@Model.T_PRICE_Exp.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Giá mục tiêu (từ)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtF_PRICE_Target" maxlength="1000" value="@Model.F_PRICE_Target.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Giá mục tiêu (đến)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtT_PRICE_Target" maxlength="1000" value="@Model.T_PRICE_Target.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Giá dừng lỗ</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtT_Pause" maxlength="1000" value="@Model.T_Pause.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Tăng trưởng Doanh thu (%)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtDoanhThu" maxlength="1000" value="@Model.DoanhThu.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Tăng trưởng Lợi nhuận (%)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtLoinhuan" maxlength="1000" value="@Model.LoiNhuan.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>


    <div class="form-group row" id="f_txtIssue">
		<label for="txtTitle" class="col-sm-2 col-form-label">Giá mua</label>
		<div class="col-sm-10">
            <input type="text" class="form-control" id="txtPrice" maxlength="20" value="@Model.Price.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
		</div>
	</div>

    <div class="form-group row" id="f_txtIssue">
        <label for="txtTitle" class="col-sm-2 col-form-label">Giá bán</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtSellPrice" maxlength="20" value="@Model.Sell_Price.ToNumberStringN10()" onkeyup="jsFormatFloatNumber(this, 3)" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">&nbsp;</label>
        <div class="col-sm-10">
            @if (Model.IsSpecial == "Y")
            {  <input type="checkbox" id="cbxSpecial" checked>  <label class="checkbox-inline">Theo dõi</label>
                
            }else{
                  <input type="checkbox" id="cbxSpecial">  <label class="checkbox-inline">Theo dõi</label>
            }
          
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">&nbsp;</label>
        <div class="col-sm-10">
            <input type="button" class="btn btn-primary" id="btnCreate" value="Lưu lại" onclick="return createNews()" />
            <input type="button" class="btn" id="btnCancel" value="Hủy" />
        </div>
    </div>
</div>

<script>

     $(document).ready(function() {

    

    });

  

    var lockSubmit = false;

  
    function createNews() {
        var isSpecial = 'N';
        if ($('#cbxSpecial').is(':checked')) {
            isSpecial = 'Y';
        }

        if (lockSubmit) {
            return;
        }
        var request = {
            id: $('#txtId').val(),
            Symbol: $('#txtSymbol').val().trim(),
            Name: $('#txtSymbolName').val(),
            Issue: $('#txtIssue').val(),
            Status : $("#txtStatus").val(),
            F_PRICE_Exp : $("#txtF_PRICE_Exp").val().replace(/,/g, "")  || '0',
            T_PRICE_Exp : $("#txtT_PRICE_Exp").val().replace(/,/g, "")  || '0',
            F_PRICE_Target : $("#txtF_PRICE_Target").val().replace(/,/g, "")  || '0',
            T_PRICE_Target : $("#txtT_PRICE_Target").val().replace(/,/g, "")  || '0',
            T_Pause : $("#txtT_Pause").val().replace(/,/g, "")  || '0',
            DoanhThu : $("#txtDoanhThu").val().replace(/,/g, "")  || '0',
            LoiNhuan : $("#txtLoinhuan").val().replace(/,/g, "")  || '0',
            IsSpecial : isSpecial,
            Price : $("#txtPrice").val().replace(/,/g, "")  || '0',
            Sell_Price : $("#txtSellPrice").val().replace(/,/g, "")  || '0'
        };
        lockSubmit = true;
        axios.post("/Symbol/Edit", request).then(function (response) {
            var data = response.data;
            if (data.Status) {
                swal({
                    title: "Thành công",
                    text: "Sửa cổ phiếu thành công",
                    icon: "success",
                    buttons: true
                }).then((value) => {
                    window.location = "/Symbol/List";
                });
            } else {
                swal({
                    title: "Lỗi",
                    text: data.Message,
                    icon: "warning",
                    buttons: true
                });
            }
            lockSubmit = false;
        }).catch(error => {
            swal({
                title: "Lỗi",
                text: "Vui lòng thử lại vào lúc khác",
                icon: "warning",
                buttons: true
            });
            lockSubmit = false;
        });
    }


    


  
</script>

